<%= form_with(model: comment, local:true) do |f| %>

    <div class="form-group row">
    <%= f.label :content, 'コメント入力', class:'col-label-form' %>
    <%= f.text_field :content, class:'form-control' %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :document_id, value: comment.document_id %>
    <%= f.submit "コメント送信", class:"btn btn-primary" %>
   </div>

<% end %>