<div class="sign up">
    <h1>プロフィール編集</h1>
</div>

<div class="row">
           
    <%= form_with(model: @user, local: true) do |f| %>
        <div class="offset-lg-1 col-lg-4">
        
            <div class="form-group">
                <%= f.label :image, '写真' %>
                
                    <div id="img_field" onClick="$('#file').click()" >
                              <p>クリックで画像変更</p>
                        <% if @user.image.url.present? %>
                          <%= image_tag(@user.image.url) %>
                        <% else %>
                          <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
                        <% end %>
                    </div>
                <%= f.file_field :image, class: "image", style: "display:none;", id: "file" %>
                <%= f.hidden_field :image_cache %>
            </div>
        </div>
 
        <div class="col-lg-6 offset-lg-1">   
            <div class="form-group">
                <%= f.label :name, '名前' %>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :introduce, '自己紹介' %>
                <%= f.text_field :introduce, class: 'form-control' %>
            </div>      
        </div>
        
         
        

        
        <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
    </div>
</div>