<%= render 'users/user_info', user: @user %>
  
  
  
  <div class="col-sm-12">
    <ul class="nav nav-tabs nav-justified mb-3">
        
        
      <li class="nav-item"><a href="<%= mylog_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(mylog_user_path(@user)) %>">投稿 <span class ="badge badge-secondary">
      </span></a></li>
      
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">保存 <span class ="badge badge-secondary">
      <%= @count_likes %></span></a></li>
      
      <li class="nav-item"><a href="#" class="nav-link">コメント</a></li>
    </ul>
    

    <%= render 'layouts/card_list', documents: @mylog %>

<!---
    <%# @mylog.each do |document| %>

            
            <div class="media-body">
                <div>
                    <%#= link_to document.user.name, user_path(document.user) %><span class="text-muted">postsd at <%#= document.created_at %></span>
                </div>
                <div>
                    <p><%#= document.title %></p>
                </div>
                <%# if current_user == document.user %>
                    <%#=# link_to "Delete", document, method: :delete, data: {confirm: "you sure?"},class: 'btn btn-danger btn-sm' %>
                <%# else %>
                    <%#= render 'favorites/favorite_button', document: document %>
                <%# end %>
            </div>

    <%# end %>

  </div>
</div>