 <div class="form-group">
   <div class="card col-lg-4", id="new_image_document">
                <div class="card-header">
                    <div id="img_field" onClick="$('#file').click()" >
 
                    
             
                  </div>
                    
                    <%= f.file_field :image, class: "image", id: "file"%>
                    <%= f.hidden_field :image_cache %>
                    <%= f.hidden_field :document_id, value: @document.id %>
                    
                </div>
            <div class="card-body">
                    <%= f.label :image_comment, '画像を選ぶ'%>
                    <%= f.text_field :image_comment, class: 'form-control' %>
            </div>
        </div>
    </div>


