<div class="nested-fields">
   
<!--
   <div class="card", id="new_image_document">
                <div class="card-header">
                    <div id="img_field" onClick="$('#file').click()" >
 
                    // 画像があるときは画像を表示する
                    <#% if @post.image.url.present? %>
                      <%#= image_tag @post.image.url, width: "100%" %>
                    <%# else %>
                      <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
                    <%# end %>
             
                  </div>
 -->           <div class="form-group">
                    <%= f.file_field :image, class: "image", id: "file" %>
                    <%= f.hidden_field :image_cache %>
                    <%= f.hidden_field :document_id, value: @document.id %>
                </div>    
                <div class="form-group">    
                    <%= f.label :image_comment, 'サムネ画像になります' %>
                    <%= f.text_field :image_comment, class: 'form-control' %>
                 </div>
         <!--       </div>
            <div class="card-body"> 
                    
            </div>
        </div>
        -->
        <%= link_to_remove_association "写真を減らす", f %>
    
</div>

