<div class="offset-lg-1 test document">
    <h1>指導案のPDFを共有</h1>
</div>

<div class="row">
    <div class="offset-1 col-lg-4 col-sm-9">
        
        <%= form_with(model: @document, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="file">
             <div class="form-group", id="file_up">
                <%= f.file_field :file, class: "pdf_post" %>
       
                <object data= "" type="application/pdf" width="500rem" height="550rem"></object>
            </div>
          
            
           
        </div>
        <div class="info_content">
            <div class="form-group">
                <i class="fas fa-book-open icon"></i><%= f.label :content, '単元 ※必須' %>
                <%= f.text_field :content, class: 'form-control' %>
            </div>
            
        </div>
        
        
    </div>    
        
    <div class="offset-sm-1 col-sm-9 offset-lg-0 col-lg-6">
        <div class="text">
             <div class="form-group">
               <i class="fas fa-file-invoice icon"></i> <%= f.label :title, '指導案タイトル　※必須' %>
                <%= f.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group">
                <i class="far fa-flag icon"></i>
                <%= f.label :goal, 'ゴールの姿　※必須' %>
                <%= f.text_field :goal, class: 'form-control' %>
            </div>
        
            <div class="form-group">
                <i class="far fa-hand-point-right icon"></i><%= f.label :explanation, '解説' %>
                <%= f.text_area :explanation, rows: 7, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <i class="fas fa-suitcase icon"></i><%= f.label :preparation, '準備物' %>
                <%= f.text_field :preparation, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <i class="fas fa-history icon"></i><%= f.label :reference, '先行研究・参考文献' %>
                <%= f.text_field :reference, class: 'form-control' %>
            </div>
        
            <div class="form-group">
                <i class="fas fa-tag icon"></i><%= f.label :tag_list, 'タグ(スペースで区切る）' %>
                <%= f.text_field :tag_list, value: @document.tag_list.join(', '), class: 'form-control' %>
            </div>
            
            <div class="info">
                <div class="row">
                    
                    <div class="form-group">
                        <i class="fas fa-school icon"></i><%= f.label :school, '校種' %>
                        <%= f.select :school, [["小学校","小学校"],["中学校","中学校"],["高校","高校"],["その他","その他"]],:prompt => "校種選択" %>
                    </div>
                    <div class="form-group">
                            <%= f.label :grade, '学年'%>
                        <%= f.select :grade, [["1年","1年"],["2年","2年"],["3年","3年"],["4年","4年"],["5年","5年"],["6年","6年"]],:prompt => "学年" %>
                    </div>
                    <div class="form-group">
                            <%= f.label :subject, '教科' %>
                        <%= f.select :subject, [["国語","国語"],["算数・数学","算数・数学"],["社会","社会"],["理科","理科"],["英語","英語"],
                                                ["体育","体育"],["音楽","音楽"],["図工","図工"],["道徳","道徳"],["その他","その他"]],:prompt => "教科" %>
                    </div>
                    <p>※必須</p>
                </div>
       
            </div>
        </div>
    </div>  
</div>
<div class="offset-1">
    <p><i class="far fa-images icon"></i>ノート・プリントなどの画像があれば添付。（1枚目がサムネ画像になります）</p>
</div>
            <div id="document_posts" class="form-group col-11">
                   <%= f.fields_for :posts do |post| %>
                   
                   <%= render 'documents/post_fields', f: post %>
                   <%#= render 'documents/post_fields', f: post %>
                   <%#= render 'documents/post_fields', f: post %>
<!--                <div class="links">
                    <%#= link_to_add_association "写真を追加", f, :posts %>
                </div>
-->            
       
       
           
                    <% end %>
        </div>
    
    <div class="offset-lg-1 col-lg-10">
        <p id="caution">※指導案や画像に児童・生徒の個人情報を含むものはありませんか？なければ投稿してください</p>
 <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
                    
          <% end %>
    </div>
