<div class="row">

    <ul class="offset-sm-1 col-sm-9 offset-lg-1 col-lg-4">
      
        <% if @document.file? %>
        <br>
            <%#= @document.file.url %>
            <object data="<%= @document.file.url %>" type="application/pdf" width="500rem" height="550rem">
                <iframe src="<%= @document.file.url %>" width="100%" height="100%">
                    
                </iframe>
            </object>
        <% else %>
                <%= image_tag 'no_image.jpg', :size =>'500x500'%>
        <% end %>
         <div class="row">
            <div class="box20">
                <p><%= @document.content %>    
                <%= @document.school %> <%= @document.grade %> <%= @document.subject %></P>
            </div>
       
            <div class="offset-lg-1">
                
                <% if logged_in? %>
                    <%= render 'favorites/favorite_button', document: @document %>
                <% end %>
              
            </div>
            <div class="link-name offset-1">
                  <%= link_to  @document.user.name, user_path(@document.user.id), id: 'link_name' %>
            </div>
        </div>
    </ul>
    

    <div class="col-sm-12 col-lg-6">
        
        <div class="goal">
            <h1 id="goal"><%= @document.title %></h1>
        </div>

        <h2></h2>
        <div class="box27">
               <span class="box-title">目指す姿</span>
                <p><%= @document.goal %></p>
        </div>

        <div class="box27">
               <span class="box-title">どんな授業？</span>
                <%= simple_format(@document.explanation) %>
        </div>
        
        <div class="box27">
               <span class="box-title">準備物</span>
                <p><%= @document.preparation %></p>
        </div>
        <div class="box27">
               <span class="box-title">先行研究・参考文献</span>
                <p><%= @document.reference %></p>
        </div>
        <div class="box27">
               <span class="box-title">タグ</span>
                <p><%= render 'documents/tag_list', document: @document %></p>
        </div>
        <% if current_user == @document.user %>
            <%= link_to '指導案を削除する', @document, method: :delete, data: {confirm: '本当に削除してよろしいですか' }, class: "badge badge-primary" %>
        <% end %>
    </div>

</div>

    <div class ="photo">
        
        
            <%= render 'posts/post', {posts: @posts, document: @document} %>
        
            
        
    </div>
<div class="offset-lg-1 col-lg-9">
    <div class="comments">
            <% @comments.each do |comment| %>
                <div class="kakomi-box12">
                    <% user = User.find(comment.user_id) %>
                    <span class="title-box12 row"><P><%= cl_image_tag comment.user.image.url,  :size =>'45x45' %><%= link_to comment.user.name.truncate(10), user_path(comment.user.id) %></P></span>
                    
                    
                    <div class="col-lg-11 row",id="comment">
                    <p id="comment"><%= comment.content %></p> 
                    
                    <% if comment.user == current_user %>
                    　 <%= link_to '削除', comment, method: :delete, data: {confirm: '本当に削除してよろしいですか' }, class: "badge badge-secondary", id: "comment_badge" %>
                    <% end %>
                    </div>
                </div>
            <% end %>
        
        <% if logged_in? %>
            <%= render 'comments/form', {comment: @comment, document: @document} %>
        <% else %>
            <P>ログインすれば保存できます</P>
        <% end %>
    </div>
    
    
    
    
</div>

