<h1><%= @document.title %></h1>

<h2><%= @document.goal %></h2>

<p><%= @document.explanation %></p>
<p><%= @document.preparation %></p>

<%= render 'favorites/favorite_button', document: @document %>