<div class="row">

    <ul class="offset-1 col-lg-3">
      
        <% if @document.file? %>
        <br>
        <object data= "<%= @document.file.url %>" type="application/pdf" width="500px" height="500px"></object>
       
    
        <% end %>
            <div class="box20">
            <p><%= @document.content %>    
            <%= @document.school %> <%= @document.grade %> <%= @document.subject %></P>
        </div>
    </ul>
    

    <div class="offset-lg-1 col-lg-6">
        
        <div class="box17">
            <p><%= @document.goal %></p>
        </div>

        <h2></h2>
        <div class="box27">
               <span class="box-title">目指す姿</span>
                <p><%= @document.goal %></p>
        </div>

        <div class="box27">
               <span class="box-title">どんな授業？</span>
                <p><%= @document.explanation %></p>
        </div>
        
        <div class="box27">
               <span class="box-title">準備物</span>
                <p><%= @document.preparation %></p>
        </div>
        <div class="box27">
               <span class="box-title">タグ</span>
                <p><%= render 'documents/tag_list' %></p>
        </div>
        
    </div>

</div>
<div class ="photo">
    <% if @document.posts.any? %>
        <%= render 'posts/post', {posts: @document.posts.all, document: @document} %>
    <% end %>
</div>


<% if logged_in? %>
    <%= render 'favorites/favorite_button', document: @document %>
    <%= render 'comments/form', comment: @document.comments.build %>
    
<% else %>
    <P>ログインすれば保存できます</P>
<% end %>

