<!DOCTYPE html>
<html lang ="ja" prefix="og: http://opg.me/ns#">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="指導案データベースサイトです。指導案の閲覧、ダウンロードができます。研究授業に向けて作った指導案を共有して、より良い授業を作りましょう。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    
    
    <meta property="og:url" content="https://www.shidouan-lab.com" />
    <meta property="og:title" content="指導案ラボ" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="指導案共有サイトです。指導案の閲覧、ダウンロードができます。研究授業に向けて作った指導案を共有して、より良い授業を作りましょう。" />
    <meta property="og:image" content="https://res.cloudinary.com/hkc1jmpeu/image/upload/v1569754088/2afb6497a3b5867f4f02e8459cee7e1f_o1mdfx" />
    <meta property="fb:app_id" content="#" />
    <meta property="og:site_name" content="https://res.cloudinary.com/hkc1jmpeu/image/upload/v1569329426/224.jpg" />
    <meta property="og:locale" content="ja_JP" />
    
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@deen5y" />
    <meta name="twitter:description" content="指導案共有サイトです。指導案の閲覧、ダウンロードができます。研究授業に向けて作った指導案を共有して、より良い授業を作りましょう。" />
    <meta name="twitter:image:src" content="https://res.cloudinary.com/hkc1jmpeu/image/upload/v1569329426/224.jpg" />

    <title>指導案ラボ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <div class="inner">
      <%= render 'layouts/navbar' %>
  
      <%=render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    
  </body>
</html>
